# Python
__pycache__/
*.pyc
.venv/

# Environment & Secrets
.env

# Backend
uploads/
backend/uploads/
**/uploads/
*.onnx
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Agents
.agents/